@font-face {
    font-family: inter;
    src: url(./Inter-Medium.ttf);
}


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    background-color: #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.card {
    width: 378px;
    height: 489px;
    
    border: 1px solid #F4B4B4;
    border-radius: 10px;
    background-color:#F5F5F5;
}
.row {
    display: flex;
    justify-content: center;
}
img {
    height: 200.52px;
    margin-top: 13px;
}
label {
    color: #616161;
    font-size: 16px;
    font-family: inter;
}
input {
    width: 315px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #F4B4B4;
    margin-top: 6px;
}
.btn_manual {
    border: none;
    background-color: #6756CB;
    color: #ffffff;
    font-size: 15px;
    font-family: inter;
}
.from_top {
    margin-top: 18.48px;
}
.from_top_1 {
    margin-top: 14px;
}
.form_top_2 {
    margin-top: 35px;
    
}
input::placeholder {
    size: 16px;
    line-height: 19.36px;
    color: #9E9E9E; 
    padding-left: 16px;
}
.ima {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    right: 535px;
    top: 335px;
}
.eye1 {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    right: 535px;
    top: 422px;
    font-family: "inter";
}